<div>
  <form #customer="ngForm" (ngSubmit)="onSubmit(customer)">
      <p>
          <mat-form-field appearance="legacy">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="" id="nome" name="nome" ngModel>
              <mat-hint>Nome da pessoa ou empresa</mat-hint>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="legacy">
              <mat-label>CPF/CNPJ</mat-label>
              <input matInput placeholder="" id="cpf" name="cpf" ngModel>
              <mat-hint>CPF/CNPJ</mat-hint>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="legacy">
              <mat-label>Tipo de pessoa</mat-label>
              <input matInput placeholder="" id="tipoPessoa" name="tipoPessoa" ngModel> 
              <mat-hint>F ou J</mat-hint>
          </mat-form-field>
      </p>
      <div class="example-button-row">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
      </div>
  </form>
</div>