<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF/CNPJ</th>
      <th scope="col">Tipo de Pessoa</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | async">
      <td>{{customer._id}}</td>
      <td>{{customer.nome}}</td>
      <td>{{customer.cpf}}</td>
      <td>{{customer.tipoPessoa}}</td>
      <td><button mat-button color="accent" (click)="callEdit(customer._id)">Editar</button></td>
      <td><button mat-button color="warn" (click)="callDelete(customer._id)">Excluir</button></td>
    </tr>
  </tbody>
</table>